@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    filter: blur(px);
    height: 100%;
    background-image: url(Images/real-images/IMG_5172.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
       scroll-behavior: smooth;
}

.bg-text{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    padding: 20px;
    text-align: center;
  }

  body, html {
    height: 100%;
    overflow-x: hidden;
  }

nav{
    background-color: rgb(36, 36, 36);
}

.gallery img{
    transition: 1s;
    padding: 15px;
    width:350px;
    border-radius: 25px;

}
.gallery img:hover{
    transform: scale(1.1);
    opacity: .8;
}

.contact-form{
    padding-top: 50px;
    height: 81vh;
    background-color: white;
}
form{
    transition: all 4s ease-in-out;
}
.form-control{
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-bottom: 2px black solid;
}
.form-control2{
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    border: none;
    border-bottom: 2px black solid;
}
input{
    height: 45px;
}
form .submit{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

.circle{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius:50%;
    width:300px;
    height:300px;
    border:10px solid white;
    shape-outside: circle();
  }
p{
    color:white;
}
h1{
    color:white;
}


.arrow {
    text-align: center;
    margin: 8% 0;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
   
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

.bottom-section{
    background-color: rgb(51, 51, 51);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
}

.galleryfront img{
    transition: 1s;
    padding: 15px;
    width:300px;
    border-radius: 25px;

}
.galleryfront img:hover{
    transform: scale(1.1);
    opacity: .8;
}
li{
    color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
}
.second-bottom-section{
    background-color: rgb(51, 51, 51);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    text-align: center;
    background-color: rgb(36, 36, 36);
}
h1{
    font-family: "Montserrat", sans-serif;
    font-style: bold;
}
.review-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 100px;
}
.box{
    width: 30%;
    height: 300px;
    margin:20px;
    box-sizing: border-box;
    font-size: 50px;
    border: 1px solid white;
    color:white;
}
.line{
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
    border: 1px solid white;
    margin-top: 40px;
    margin-bottom: 40px;
}
.our-work{
    text-align: center;
    background-color: rgb(51, 51, 51);
    width: 100%;
    padding-bottom: 20px;
}
.center{
    margin-left: 10vh;
    margin-right: 10vh;
}
.carousel-images{
    width: 60%;
    margin-right: 20vw;
    margin-left: 20vw;
}
.carousel-text{
    width: 50%;
    margin-right: 25vw;
    margin-left: 25vw;
}
.carousel-text > h1{
    font-size: 20px;
}
.secondline{
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
    border: 1px solid white;
}
.portfolio-btn{
    font-size: 25px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.images-carousel img{
    height: 50%;
    width: 50%;
}
